.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
}

.single-product {
    width: 100%;
    border: 2px solid rgb(209, 205, 205);
    cursor: pointer;
    transition: all 0.2s ease;
}
.single-product:hover{
    box-shadow: 3px 5px 10px 5px #888888;
    border: 2px solid rgb(210, 214, 212);
}

.single-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.btn-Lis{
    display: flex;
}
.trending-list button{
    border: none;
    border: 1px solid rgb(190, 189, 189);
    margin-right: 10px;
    padding: 5px 10px;
    transition: all 0.5s ease;
}

.trending-list button:hover{
    background-color: #c2c1c1;
}

/* ...........................................  */

 /* very small device  */
 @media screen and (max-width: 320px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* small device phone  */
@media screen and (min-width: 321px) and (max-width: 480px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* smart phone  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 20px;

    }
}
/* Tablet device  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* big screen  */
@media screen and (min-width: 1025px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    } 
}
