.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
}

.single-product {
    width: 100%;
    border: 2px solid rgb(209, 205, 205);
    padding: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.single-product:hover{
    box-shadow: 3px 5px 10px 5px #888888;
    border: 2px solid rgb(210, 214, 212);
}

.single-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.btn-Lis{
    display: flex;
}
.trending-list button{
    border: none;
    border: 1px solid rgb(190, 189, 189);
    margin-right: 10px;
    padding: 5px 10px;
    transition: all 0.5s ease;
}

.trending-list button:hover{
    background-color: #c2c1c1;
}
/* Small mobile device  */
@media all and (max-width: 48em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* large Mobile  */
@media all and (min-width: 48em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 20px;

    }
}
/* Tablet  */
@media all and (min-width: 62em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* desktop and large */
@media all and (min-width: 75em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
