.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
}

.single-product {
    width: 100%;
    border: 2px solid black;
    padding: 30px;
    cursor: pointer;
}
.single-product:hover{
    box-shadow: 5px 10px 10px 5px #888888;
}

.single-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.btn-Lis{
    display: flex;
}

/* Small mobile device  */
@media all and (max-width: 48em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* large Mobile  */
@media all and (min-width: 48em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 20px;

    }
}
/* Tablet  */
@media all and (min-width: 62em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
/* desktop and large */
@media all and (min-width: 75em){
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
    }
}
