.sell-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.upload-sell-images{
    /* border: 1px solid gray; */
    padding: 50px;
    width: 100%;
}

.product-type-info select   {
    width: 100%; 
}


/* Small mobile device  */
@media all and (max-width: 48em){
    .sell-main{
        display: grid;
        grid-template-columns: 1fr
    } 
}
/* large Mobile  */
@media all and (min-width: 48em){
    .sell-main{
        display: grid;
        grid-template-columns: 1fr
    }
   
}
/* Tablet  */
@media all and (min-width: 62em){
    .sell-main{
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
   
}
/* desktop and large */
@media all and (min-width: 75em){
    .sell-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
   
}
