.change-password{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    box-shadow: 2px 1px 2px 2px #888888
}
.change-profile-pass{
    width: 100%;
}
.change-profile-pass input{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px 10px;

}

