.image img{
    width: 100%;
    height: 400px;
    border: 2px solid red
}
.product-brand{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}



/* Small mobile device  */
@media all and (max-width: 48em){
    .product-brand{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
}
/* large Mobile  */
@media all and (min-width: 48em){
    .product-brand{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
}
/* Tablet  */
@media all and (min-width: 62em){
    .product-brand{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
}
/* desktop and large */
@media all and (min-width: 75em){
    .product-brand{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }
}



