.footer-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(214, 214, 214);
    margin-top: 20px;
    padding: 40px
};

@media all and (min-width: 786px){
    .footer-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 20px;
    };
}
@media all and (min-width: 992px){
    .footer-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 20px;
    };
}
@media all and (min-width:1200px){
    .footer-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 20px;
    };
}


