.mainCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.min_pad {
    padding: 20px;
}

.scroll-table {
    display: block;
    height: 400px;
    overflow-y: scroll;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inline-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.dataCard {
    /* padding: 20px; */
    background-color: #f5f5f5;
    border: 1px solid #c4c4c4;
    width: 50%;
}

.dc-title {
    background-color: #6e99f5;
    color:white;
    padding: 10px;
}

.dc-val {
    font-weight: 700;
    background-color: white;
    padding: 10px;
}

p {
    margin-bottom: 0px;
}



.spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media only screen and (max-width: 600px) {
    #to-col {
        flex-direction: column;
        align-items: flex-start;
    }

    .dc-title {
        font-size: 11px;
    }

    #to-space {
        justify-content: space-between;
        width: 100%;
    }
  }

