.nav-bar{
    margin: 10px 200px 10px 200px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;

}
.navbar-brand p{
    color: #20b625;
}
.navbar-brand p span{
    font-size: large;
    font-weight: 600;
}
#logo-sel{
    color: crimson;
}
.nav-menu ul{
 display: flex;
 /* margin-top: 10px; */
}
.nav-menu ul li {
    margin-right: 10px;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-menu ul li:hover {
    background-color: rgba(3, 3, 3, 0.578);
}
.nav-menu ul li a {
    color: rgb(6, 6, 6)
}
.nav-menu ul li a:hover{
    color: white
}



.user-info{
    margin-top: 10px;
    display: flex;
}

/* .............  */
.dropbtn {
    background-color: #090909a9;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.sell-btn{
    border: none;
    background-color: red;
    padding: 8px 40px;
    border-radius: 10px;
}

.sell-btn a{
    color: white;
    text-decoration: none;
}
.btn-Lis{
    margin-top: -8px;
    align-items: center;
}

.btn-Lis div:nth-child(1) {
    background-color: #4CAF50;
    padding: 5px 20px;
    border-radius: 10px;
}
.btn-Lis div:nth-child(1) a{
    color: white;
}
.btn-Lis div:nth-child(2){
    background-color: #4CAF50;
    padding: 5px 20px;
    border-radius: 10px;

}

.btn-Lis div:nth-child(2) a{
    color: white;
}
.btn-Lis div:nth-child(n + 1){
    margin-left: 10px;
   
}


/* Small mobile device  */
@media all and (max-width: 48em){
    .nav-bar{
        margin: 10px 10px 10px 10px;
    }
    .btn-Lis{
        display: none;
    }
    .nav-menu ul li{
        display: none;
       }
       .dropdown{
        margin-right: 20px;
       }

}
/* large Mobile  */
@media all and (min-width: 48em){
    .nav-bar{
        margin: 10px 100px 10px 100px;
    }

    .btn-Lis{
        display: flex;
    }
}
/* Tablet  */
@media all and (min-width: 62em){
    .nav-bar{
        margin: 10px 200px 10px 200px;
    }
    .btn-Lis{
        display: flex;
    }

 
}
/* desktop and large */
@media all and (min-width: 75em){
    .nav-bar{
        margin: 10px 200px 10px 200px;
    }
    .btn-Lis{
        display: flex;
    }
  
}



