.spotlight{
    /* width: 200px;
     height: 200px; */
     overflow:hidden;
     height: 100%;
     padding: 20px;
     /* justify-content: space-between; */
     /* border: 2px solid rgb(228, 199, 204);
     background-color: rgb(249, 251, 250); */
     color: rgb(3, 3, 3);
     /* margin-right: 0px; */
} 

.spotlight img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}