.spotlight{
    width: 200px;
     height: 200px;
     overflow:hidden;
     height: 100%;
     padding: 10px;
     background-color: rgb(237, 237, 237);
     color: rgb(3, 3, 3);
     margin: 10px;
} 

.spotlight img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}