.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.components-size{
  margin: 0px 250px;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

Table {
  font-size: 10px;
}
li{
  list-style: none;
  
}


/* Small mobile device  */
@media all and (max-width: 48em){
  .components-size{
    margin: 0px 10px;
  }
}
/* large Mobile  */
@media all and (min-width: 48em){
  .components-size{
    margin: 0px 10px;
  }
}
/* Tablet  */
@media all and (min-width: 62em){
  .components-size{
    margin: 0px 100px;
  }
}
/* desktop and large */
@media all and (min-width: 75em){
  .components-size{
    margin: 0px 250px;
  }
}