.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.components-size{
  margin: 0px 250px;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

Table {
  font-size: 10px;
}
li{
  list-style: none;
  
}


/* ...........................................  */

 /* very small device  */
 @media screen and (max-width: 320px) {
  .components-size{
    margin: 0px 10px;
  }
}
/* small device phone  */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .components-size{
    margin: 0px 10px;
  }
}
/* smart phone  */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .components-size{
    margin: 0px 10px;
  }
}
/* Tablet device  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .components-size{
    margin: 0px 100px;
  }
}
/* big screen  */
@media screen and (min-width: 1025px) {
  .components-size{
    margin: 0px 250px;
  } 
}