.like-body{
    margin-top: 20px;
}

.user-profile-like{
    width: 50px;
    height: 50px;
}

.user-profile-like img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.product-profile-like{
    width: 280px;
    height: 350px;
    position: relative;
    margin-top: 10px;

}
.product-profile-like img{
    width: 250px;
    height: 300px;
}
.icon-like {
    display: flex;
    justify-content: space-between;
}
